.instructorDashGrid2 {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
    .instructorDashGrid2 {
        grid-template-columns: 1fr;
    }
}