.instructorCardContainer .responsive-table {
    overflow-x: auto;
}

.instructorCardContainer table {
    border-spacing: 0px;
    min-width: 100%;
}

.instructorCardContainer thead td {
    font-weight: bold;
    background-color: #eee;
}

.instructorCardContainer td {
    padding: 20px;
    border: 1px solid #eee;
    font-size: 14px;
    transition: 0.3s;
}

.instructorCardContainer tbody tr:hover td {
    background-color: #e5e5e5;
}