body {
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
    padding: 40px;
  }
  
  .message-section {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .message-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  
  .message-box {
    resize: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: all 0.3s;
    font-size: 15px;
  }
  
  .message-box:focus {
    border-color: #FE7134;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.1);
    outline: none;
  }
  
  .message-box::placeholder {
    color: #bab5b5;
    opacity: 1;
  }
  
  .custom-primary {
    background-color: #FE7134;
    border: none;
    border-radius: 8px;
    color: #fff;
    transition: 0.3s;
  }
  
  .custom-primary:hover {
    background-color: #f34e08;
    color: #fff;
  }
  