

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: var(--dark);
    margin: 0;
    padding: 0;
  }
  
  /* ===== HERO ===== */
  .hero .years {
    font-size: 28px;
    font-weight: 800;
    color:  #fff;
  }
  
  .hero .title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.1;
  }
  
  .hero .lead {
    color: var(--muted);
    font-size: 15px;
    max-width: 520px;
  }
  
  /* ===== IMAGE FRAME ===== */
  .img-frame {
    display: inline-block;
    width: 100%;
    max-width: 420px;
    height: 340px; 
    overflow: hidden;
    position:sticky;
  }
  
  .img-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 12px;
  }
  
  /* ===== STATS ===== */
  .stats {
    background: #fff;
  }
  .stats h4 .lead{
    color: var(--muted);
    font-size: 15px;
    max-width: 520px;
  }
  .stats .muted {
    font-size: 18px;
    color: var(--muted);
  }
  
  /* ===== LOGOS SECTION ===== */
  .logos-section {
    gap: 20px;
  }
  
  .text-part {
    flex: 1;
    max-width: 50%;
  }
  
  .text-part h2 {
    font-size: 1.9rem;
    line-height: 1.3;
  }
  
  .logos {
    flex: 1;
    justify-content: flex-end;
      display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logos img {
    opacity: 0.9;
    transition: 0.3s;
    height: 90px;
    margin: 0 20px; 
  }
  
  .logos img:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .logos-section {
      flex-direction: column;
      text-align: center;
      gap: 30px;
    }
  
    .text-part {
      max-width: 100%;
    }
  
    .logos {
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  
  
  /* ===== STATS BAR ===== */
  .stats-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    gap: 30px;
    overflow-x: auto; 
    padding: 10px 0;
  }
  
  .stat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1;
    min-width: 180px;
    text-align: left;
  }
  
  .stat-box img {
    width: 35px;
    height: 35px;
    position: relative;
    top: -10px; 
  }
  
  
  .stat-num {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .stat-label {
    font-size: 0.95rem;
    color: var(--muted);
    margin: 0;
  }
  
  