header {
    background-color: black;
    color: aliceblue;
}

.watch-course {
    display: flex;
    width: 95%;
    margin: 0 auto;
    gap: 1.5rem;
    min-height: 100vh;
    transition: 0.5s ease;
}

.course-section {
    flex-basis: 35%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* course details */
.course-details {
    flex-basis: 65%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.video-player {
    width: 100%;
    min-height: 450px;
    background-image: url("./assets/baner-video.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 75%;
}

.heading h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #1d2026;
    letter-spacing: -1%;
    height: 40px;
    line-height: 40px;
}

.heading .date {
    font-size: 1.4rem;
    height: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: -1%;
    color: #4e5566;
}

.heading .date span {
    color: #1d2026;
}

.description,
.attach-file {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description h3,
.attach-file h3 {
    font-size: 2.4rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-weight: 600;
    letter-spacing: -1%;
    color: #1d2026;
}

.description p {
    font-size: 1.4rem;
    line-height: 22px;
    letter-spacing: -1%;
    color: #4e5566;
}

.file {
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f7fa;
}

.details-file {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    align-items: center;
}

.details-file p {
    font-size: 1.6rem;
}

.details-file span {
    font-size: 1.4rem;
    color: #6e7485;
}

.attach-file .icon-file {
    height: 4.8rem;
    width: 4.8rem;
    color: #ff6636;
    grid-row: 1 / -1;
}

@media screen and (max-width: 980px) {
    .course-section {
        flex-basis: 0;
        display: none;
    }

    .course-details {
        flex-basis: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        width: 100%;
    }
}

/* course contact */

.progress-head h2 {
    font-weight: 600;
    letter-spacing: -1%;
    color: #1d2026;
}

.progress-head strong {
    font-weight: 600;
    font-size: 1.1rem;
    color: #23bd33;
}
