/* Navbar Buttons Styling */

.navBtn {
    transition: var(--main-transition);
    color: #8C94A3;
    position: relative;
}

.navBtn:hover,
.navBtn.active {
    color: white;
}

.navBtn::before {
    position: absolute;
    content: "";
    top: calc(100% - 4px);
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--primary-main);
    transition: var(--main-transition);
}

.navBtn.active::before,
.navBtn:hover::before {
    width: 100%;
}