/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #ddd;
    font-size: 13px;
    color: #666;
}

.footer-left a {
    color: #666;
    text-decoration: none;
    margin-right: 20px;
}

.footer-right {
    text-align: right;
}

/* Responsive */
@media (max-width: 1060px) {
    .account-settings-container {
        width: 95%;
    }

    .account-flex {
        flex-direction: column;
        gap: 25px;
    }

    .upload-box {
        width: 100%;
    }

    .name-row {
        flex-direction: column;
        gap: 10px;
    }

    .social-row {
        flex-direction: column;
        gap: 15px;
    }

    .input-field,
    .textarea-field,
    .phone-input {
        width: 100%;
    }
}

@media (max-width: 834px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left a {
        display: block;
        margin-top: 10px;
        margin-right: 0px;
    }

    .footer-right {
        margin-top: 10px;
        text-align: center;
    }
}